[Desktop Entry]
Encoding=UTF-8
Name=Lien vers How to Make a Discord Bot in Python – Real Python
Type=Link
URL=https://realpython.com/how-to-make-a-discord-bot-python/
Icon=text-html
